@use '../style';

main {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        p {
            display: inline-block;
        }
        
        a {
            display: inline-block;
            color: style.$purple;
        }
        
        a:hover {
            text-decoration: underline;
        }    
    }
}

form {
    margin-bottom: 1rem;
}

#email {
    margin-top: 0;
}

@include style.flexbox-to-block-main(18rem);
