@use '../style';

form {
    display: flex;
    flex-flow: row nowrap;
}

#profile-picture {
    max-width: 30vw;
}

#video-input, #output-wrapper {
    width: 30vw;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#output {
    display: block;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

#profile-picture-controls {
    display: flex;
    flex-flow: row nowrap;
    height: auto;

    input {
        width: 50%;
        color: style.$black;
        background-color: style.$white;

        border-top: none;
        border-radius: 0 0 10px 0;
        margin: 0;

        &:hover {
            color: style.$white;
            background-color: style.$black;
        }
    }
}

#player-info {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;
    justify-content: space-between;

    margin-left: 2rem;

    input:first-of-type {
        margin-top: 0;
    }
}

#genders {
    align-self: center;
}

#genders label {
    display: inline-block;
}

#genders input {
    display: inline-block;
    width: auto;
    height: auto;

    &:last-of-type {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 50rem) {
    form {
        display: block;
    }

    #profile-picture {
        margin: 0 auto 2rem auto;
    }

    #player-info {
        display: block;
    }

    #genders {
        text-align: center;
    }
}
