// fonts
$font-stack: 'Raleway', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$yellow: #FFC700;
$red: #f24e1e;
$coral: #ff7262;
$purple: #a259ff;
$blue: #1abcfe;
$green: #0acf83;


.hidden {
    display: none;
}

body {
    font-family: $font-stack;
}

a {
    display: inline-block;
    color: $black;
    text-decoration: none;
}

label {
    display: none;
}

label.permanent {
    display: block;
}

input {
    display: block;
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: $black;
    border-radius: 5px;
    margin-top: 1rem;
}

input[type="submit"] {
    background-color: $black;
    color: $white;
    border-radius: 8px;
}

input:focus {
    border-color: $purple;
    outline: none;
}

input[type="submit"]:focus {
    border-color: $black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 2.5rem 3rem;

    a:not(:first-child) {
        margin-left: 1rem;
    }

    #register {
        background-color: $black;
        color: $white;
        padding: 0.6rem;
        border-radius: 10px;
    }
}


main {
    margin: 0 3rem;
}

img {
    border-radius: 10px;
}

footer {
    background-color: $black;
    color: $white;
    padding: 1.5rem 0;
    margin-top: 2.5rem;

    p {
        margin-left: 3rem;
    }
}
