// fonts
$font-stack: 'Raleway', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$yellow: #FFC700;
$red: #f24e1e;
$coral: #ff7262;
$purple: #a259ff;
$blue: #1abcfe;
$green: #0acf83;


body {
    font-family: $font-stack;
}

a {
    color: $black;
    text-decoration: none;
}

label, input {
    display: block;
}

input[type="submit"] {
}

header {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
        margin: 2.5rem 3rem;

        a:not(:first-child) {
            margin-left: 1rem;
        }

        #register {
            background-color: $black;
            color: $white;
            padding: 0.6rem;
            border-radius: 10px;
        }
    }
}

footer {
    background-color: $black;
    color: $white;
    padding: 1.5rem 0;
    margin-top: 3rem;

    p {
        margin-left: 3rem;
    }
}
