main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input[type="date"] {
    margin-top: 0.5rem;
}

#personal-goals-group {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1rem;
    
    input {
        flex-grow: 2;
        width: auto;
        margin-top: 0;
    }

    p {
        line-height: 2rem;
        margin: 0 1rem;
    }
}
