.hidden {
  display: none;
}

.visible {
  display: block;
}

#error, #errors li {
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  background-color: #ff7262;
  padding: 0.6rem;
  border: 2px solid #f24e1e;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

#success {
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  background-color: #0acf83;
  padding: 1rem;
  border: 2px solid green;
  border-radius: 10px;
  margin-bottom: 1rem;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

label {
  display: none;
  margin-top: 1rem;
}

label.permanent {
  display: block;
}

input {
  display: block;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  padding-left: 0.5rem;
  margin-top: 1rem;
}
input:focus {
  border-color: #a259ff;
  outline: none;
}
input[type=submit] {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding-left: 0;
}

select {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 2.5rem 3rem;
}
nav a:not(:first-child) {
  margin-left: 1rem;
}
nav #register {
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem;
  border-radius: 10px;
}

#hamburger-menu {
  display: none;
  margin: 1rem 0 2.5rem 1rem;
  cursor: pointer;
}

main {
  margin: 0 3rem;
}

img {
  border-radius: 10px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 0;
  margin-top: 2.5rem;
}
footer p {
  margin-left: 3rem;
}

@media screen and (max-width: 30rem) {
  #hamburger-menu {
    display: inline;
  }

  nav {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  nav a, nav a:not(:first-of-type) {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3rem auto 0 auto;
  }
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

input[type=date] {
  margin-top: 0.5rem;
}

#personal-goals-group {
  display: flex;
  flex-flow: row wrap;
}
#personal-goals-group input {
  flex-grow: 2;
  width: auto;
  margin-top: 1rem;
}

p {
  line-height: 2rem;
  margin: 1rem 1rem 0 1rem;
}

@media screen and (max-width: 29rem) {
  main {
    display: block;
  }
}
