h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#player {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 4rem;
}
#player a {
  width: 50%;
  text-align: center;
  border: 1px solid #000000;
  border-top: none;
  padding: 1rem 0;
}
#player a:last-of-type {
  border-left: none;
}

img {
  max-width: 25rem;
  height: auto;
}

p {
  margin-bottom: 0.8rem;
}

p:last-of-type {
  margin-bottom: 0;
}

em {
  font-weight: bold;
}

#player-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 25rem;
}
